.App {
  text-align: center;
  padding-bottom: 4vh;
}

body {
  background: linear-gradient(0deg, rgba(255, 191, 0, 0.1) 0%, rgba(107,153,153,0.2) 70%);background-repeat: no-repeat;
  min-height: 96vh;
}

.school {
  background-color: #f7f7f7;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  padding: 5px 10px;
  border: 1px solid white;
  box-shadow: 0px 7px 29px 0px #888888;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.school h2, .school p {
  margin: 10px 0;
}

.recharts-responsive-container {
  margin: auto;
}

.actions {
  display: flex;
  justify-content: center;
}

button, a.button {
  padding: 8px;
  border-radius: 5px;
  background-color: lightcyan;
  border: 1px solid black;
  margin: 0 10px;
  cursor: pointer;
  appearance: button;
  text-decoration: none;
  color: initial;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
